Form{
    width: fit-content;
    margin: auto;
    margin-top: 3em;
    box-shadow: 20px 20px 50px grey;
    padding: 1em;
    border-radius: 1em;
}
.Alert{
    width:fit-content ;
    margin: 0 auto;
    margin-top: 1em;
}
.Alert p{
    font-weight: bold;
}
.btn{
    margin: auto;
}